<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <h1>Bem-vindo ao Cadastro de Pets</h1>
    <ul>
        <li><a href="/cadastro-pets">Cadastrar Pet</a></li>
        <li><a href="/ver-pet/:id">Ver Pet</a></li>
        <li><a href="/editar-pet/:id">Editar Pet</a></li>
        <li><a href="/excluir-pet/:id">Excluir Pet</a></li>
        <li><a href="/pets">Listar Pets</a></li>
    </ul>
    <h3>OBS: Para ver, editar ou excluir um pet, digite o numero do respectivo id do pet na URL
        <br>IDs do pet são obtinos em "listar pets".</h3>
</body>
</html>
